<%= form_for(@post) do |f| %>
	<p>
		<%= f.text_field(:title, size: "40", placeholder: "Title") %>
	</p>
	<p>
		<%= f.text_area(:text, size: "100x20", placeholder: "Poem goes here...") %>
	</p>
	<p>
		<%= f.submit "Publish", :class => "btn btn-success" %>
	</p>
<% end %>
