<div class="row" style="min-height:300px;">
    <div  class="col-sm-6">
        <h3>Page Title</h3>
        <hr/>
        <div class="col-xs-3">
            <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-left">
                <li class="active"><a href="#allpoems" data-toggle="tab">All Poems</a></li>
                <li><a href="#followedpoems" data-toggle="tab">Poems by Followed Poets</a></li>
                <li><a href="#allpoets" data-toggle="tab">All Poets</a></li>
                <li><a href="#addnewpoem" data-toggle="tab">Add New Poem</a></li>
            </ul>
        </div>
        <div class="col-xs-9">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="allpoems"> 
                    All Poems Tab.
                </div>
                <div class="tab-pane" id="followedpoems"> Poems by Followed Poets Tab. </div>
                <div class="tab-pane" id="allpoets"> All Poets Tab.</div>
                <div class="tab-pane" id="addnewpoem"> Add New Poem Tab. </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
