<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"> <%= link_to('All Poems', posts_url) %></button>
  <button type="button" class="btn btn-default"><%= link_to('Poems by Followed Poets', following_posts_url) %></button>
  <button type="button" class="btn btn-default"> <%= link_to('All Poets', users_url) %></button>
</div>
