@import "bootstrap-sprockets"; 
@import "bootstrap"; 

html {
  overflow-y: scroll;
}

body {
	padding-top: 60px; 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase; 
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#main {
	padding-top: 20px;
}

#search-bar {
	float: right;
}

.round-image-50 {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

#right {
  float: right;
}

#pic {
  float: left;
  border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
    margin-right: 15px;
}

li {
  list-style: none;
}

#indexlist {
  padding-bottom: 30px;
}

#follow-button {
  padding-bottom: 20px;
}

#stats {
  padding-top: 10px;
  text-align: center;
}

h3 {
  padding-bottom: 15px;
}

#intro {
  float: right;
  padding-top: 60px;
}
  p {
    font-style: italic;
    font-size: 13pt;
  }

#login {
  padding-top: 20px;
}
